FormatVersion: 2.0.0
Version: 1.0.0
Name: Delete Container

Parameters:
  name: $name

Body: |
  return deleteContainer('{0}'.format(args.name)).stdout

Scripts:
  deleteContainer:
    Type: Application
    Version: 1.0.0
    EntryPoint: deleteContainer.sh
    Files: []
    Options:
      captureStdout: true
      captureStderr: true

