[mysqld]

datadir=/var/lib/mysql
user=mysql

# Path to Galera library
wsrep_provider=/usr/lib/libgalera_smm.so

# Cluster connection URL
wsrep_cluster_address=gcomm://%ALL_IP_ADDRESSES%

# In order for Galera to work correctly binlog format should be ROW
binlog_format=ROW

# MyISAM storage engine has only experimental support
default_storage_engine=InnoDB

# This changes how |InnoDB| autoincrement locks are managed and is a requirement for Galera
innodb_autoinc_lock_mode=2

# Current node IP address
wsrep_node_address=%NODE_IP_ADDRESS%

# SST method
wsrep_sst_method=xtrabackup-v2

# Cluster name
wsrep_cluster_name=%CLUSTER_NAME%

# Authentication for SST method
wsrep_sst_auth="sstuser:%SST_PASSWORD%"

bind-address=%NODE_IP_ADDRESS%
