FormatVersion: 2.0.0
Version: 1.0.0
Name: Delete Service

Parameters:
  serviceId: $serviceId

Body: |
  return deleteService('{0}'.format(args.serviceId)).stdout

Scripts:
  deleteService:
    Type: Application
    Version: 1.0.0
    EntryPoint: deleteService.sh
    Files: []
    Options:
      captureStdout: true
      captureStderr: true

