[Unit]
Description=etcd key-value store
Documentation=https://github.com/coreos/etcd

[Service]
Type=notify
Environment=ETCD_DATA_DIR=/var/lib/etcd
EnvironmentFile=-/etc/default/etcd
ExecStart=/opt/bin/etcd \
 $NAME \
 $LISTEN_PEER_URLS \
 $LISTEN_CLIENT_URLS \
 $INITIAL_ADV_PEER_URLS \
 $INITIAL_CLUSTER_STATE \
 $INITIAL_CLUSTER \
 $ADV_CLIENT_URLS \
 $INITIAL_CLUSTER_TOKEN \
 $ETCD_OPTS
Restart=always
RestartSec=10s
LimitNOFILE=40000
StandardOutput=null

[Install]
WantedBy=multi-user.target
