FormatVersion: 2.0.0
Version: 1.0.0
Name: Setup Docker registry

Parameters:
  dockerRegistry: $dockerRegistry

Body: |
  setupRegistry(args.dockerRegistry)

Scripts:
  setupRegistry:
    Type: Application
    Version: 1.0.0
    EntryPoint: setupDockerRegistry.sh
    Files: []
    Options:
      captureStdout: true
      captureStderr: true
